.window {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: calc(100vh - 200px);
    background-color: #c9c9c9;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 60px 20px;
    transition: background .8s ease;
}
.window textarea {
    min-width: 100px;
    background: transparent ;
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color .5s ease;
}
.timeDiv {
    min-width: 140px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.timeDiv input {
    padding: 0 20px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #ECE3CA;
}
.createBtn {
    margin-top: 40vh;
    position: absolute;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    background-color: #000;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: gap .3s ease;
}
.createBtn:hover {
    gap: 50px
}

@media only screen and (max-width: 1000px) {
    .window textarea {
        width: 60%;
    }
}
@media only screen and (max-width: 780px) {
    .window textarea {
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .window textarea {
        width: 42%;
        font-size: 16px;
    }
    .window {
        gap: 40px
    }
    .timeDiv input {
        font-size: 26px;
    }
    .createLink {
        margin-right: 200%;
    }
} 